'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Settings'
      'submenu': [
        { 'label': 'Open', 'command': 'settings:open' }
        { 'label': 'Manage Accounts', 'command': 'settings:manage-accounts' }
        { 'label': 'Manage Packages', 'command': 'settings:manage-packages' }
        { 'label': 'Install Packages', 'command': 'settings:install-packages' }
      ]
    ]
  }
]
